
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Add tittle -->
        <title>AVCProject_404</title>

        <!-- Add css and import d3 -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="static/Style1.css" />
    </head>
    <body>
        <!-- Header -->
        <header>
            <div id="titlebackground">
                <div id="title">Job Posting Detection</div>
            </div>

            <div class="Error">
                <h1 class="w3-jumbo"><b>OOOOPS!</b></h1>
                <p>Sorry some unexpected things happened. Please try agagin and make sure you input the right type of data!</p>
                <a href="{{url_for('home')}}"> Go back to home</a>
            </div>

        </header>
        <!-- End of Header -->

    </body>
</html> 